# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=5f96c988-8706-45d5-8085-b65982929d0b
TINA_TOKEN=33a41d22925b35a7535f08bfae5adebf7ecec6bc

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=1
