# These are retrieved from your project at app.tina.io
NEXT_PUBLIC_TINA_CLIENT_ID=4e80b0b6-fcd7-4ae7-942e-16a6b4ebb7c7
TINA_TOKEN=b6973d48de69819b543ca575a00aa159aa662f2b

# This is set by default CI with Netlify/Vercel/Github, but can be overriden
NEXT_PUBLIC_TINA_BRANCH=1
